@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


.header-bg{
    background-color: rgb(248, 239, 239);
}


 
.header-nav{
  
    font-family: 'Poppins', sans-serif;
    color: brown !important;
    text-transform: uppercase;
    letter-spacing: .5px;

    position:relative;
    z-index: 1;
   
 
}

.header-nav:hover{
    background-color: #f3b238;
}


 
.nav-link{
    color: brown !important;
}

.header-side-nav{
    font-family: 'Poppins', sans-serif;
    color: brown !important;
    text-transform: uppercase;
    letter-spacing: .5px;
}


.header-side-nav:hover{
    background-color: #f3b238;

}

.header-nav-box{
    display: flex;
}

 
@media screen and (max-width:970px)  {
    .search-box{
        display: none;
    }
 
     

}





@media screen and (max-width:800px)  {
    .search-box{
        display: none;
    }
 
    .header-nav-box{
        display: none;
    }

}


 




